body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: grid;
    border: 5px solid black;
}

.trail {
    background-color: tomato;
}